# Byte-compiled / cached files
__pycache__/
*.py[cod]
*.pyo

# Shell scripts for CI/CD
commit_actions.sh

# Python cache and compiled files
__pycache__/
*.py[cod]

# All csv for saving nets
*.csv

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
